body{
    background-image: url("marsBg.gif");
    background-color: black;
    background-position: center;
    background-size: cover;
}

#myCanvas
{
	background-color: white; 
	border-style:none;
    border-radius:100px;
}

h1,h4
{
	color: white !important;
}